*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #f7ac8a;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

h1{
    color: rgb(252, 188, 69);
    width: fit-content;
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
}

.button_container{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.piano{
    display: flex;
    padding-top: 1rem;
}

.key{
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white{
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black{
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.balck.active {
    background-color: #333;
}